version: '3.9'

services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: gana
      POSTGRES_PASSWORD: imntr8ay
      POSTGRES_DB: quotify
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d mydatabase" ]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: gana301104@gmail.com
      PGADMIN_DEFAULT_PASSWORD: imntr8ay
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  app:
    build:
      context: .
      network: host
    container_name: springboot-app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/quotify
      SPRING_DATASOURCE_USERNAME: gana
      SPRING_DATASOURCE_PASSWORD: imntr8ay
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    entrypoint: [ "sh", "-c", "echo 'Waiting for database...' && sleep 10 && java -jar app.jar" ]

volumes:
  db_data:
  pgadmin_data:

